body {
  background-color: cornflowerblue;
  margin: 0 0;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

div.header {
  background-color: cornsilk;
}

div.column {
  background-color: crimson;
  width: 50%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

div.canvas {
  background-color: cyan;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  background-color: white;
}

div.toolbar {
  background-color: darkblue;
}