body {
  margin: 0 0;
  font-family: 'Rubik', sans-serif;
  background-color: whitesmoke;
}

div.header {
  text-align: center;
}

div.content {
  height: calc(100vh - 90px);
}

div.column {
  width: calc(50% - 12px);
  height: 100%;
  padding: 0px 5px;
  display: inline-block;

  text-align: center;
  vertical-align: top;
}

canvas {
  border: 3px solid black;
}

button.clear {
  font-size: 2rem;

  border: 3px solid black;
  margin-top: 5px;
  width: 100%;
}

div.prediction {
  font-size: 70vmin;
  text-align: center;
}
